<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   <md-grid-list cols="4" rowHeight="200px">
      
  <md-grid-tile colspan='2' class="babyBlue" rowspan="3">
        <div > 
            <div fxLayout="row" fxLayoutWrap layout-align="center center" >
        <app-movie-side-card [title]="'Fav Character'">  </app-movie-side-card>
        <app-movie-side-card [title]="'Least Fav Character'" >  </app-movie-side-card>
            </div>
       <div class="gray"> <app-movies-chart></app-movies-chart></div>
        </div>
    </md-grid-tile> 
      <md-grid-tile colspan='2' class="gray"  rowspan="8" >
          <div fxLayout="row" fxLayoutWrap> 
              <app-movie-summary   
              *ngFor="let movie of movies"
              [movie]="movie"
            >
            </app-movie-summary>
          </div>
      </md-grid-tile>
    </md-grid-list>


